{% extends 'arti/Base/main.html' %}
{% block title %}{% endblock title %}

{% block styles %}
{% endblock styles %}

{% block body %}
{% include "arti/components/nav.html" %}
<div id="main">
    <div class="section mt-9 mb-9">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h2>ورود</h2>
                    <div class="my-account-wrap">
                        <form class="login-form" method="POST">
                            {% csrf_token %}
                            <div class="item-wrap">
                                <label for="{{ form.UserName.id_for_label }}">نام کاربری (شماره تلفن همراه): <span
                                        class="required">*</span></label>
                                {{form.UserName}}
                                {% for error in form.UserName.errors %}
                                <p class="text-danger">{{error}}</p>
                                {% endfor %}
                            </div>
                            <div class="item-wrap">
                                <label for="{{ form.Password.id_for_label }}">رمز عبور <span
                                        class="required">*</span></label>
                                {{form.Password}}
                                {% for error in form.Password.errors %}
                                <p class="text-danger">{{error}}</p>
                                {% endfor %}
                            </div>
                            <div class="item-wrap form-submit">
                                <input type="submit" class="button-2" name="login" value="ورود">
                                <input class="checkbox" name="rememberme" type="checkbox" id="rememberme"
                                    value="forever">
                                <span class="fw-bolder">به خاطر سپاری</span>
                            </div>
                        </form>
                        <div class="lost-password">
                            <a href="#">رمز عبور خود را فراموش کرده اید؟</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
    {% include "arti/components/footer.html" %}
</div>
{% endblock body %}

{% block scripts %}

{% endblock scripts %}