<div class="row">
    <div class="col-sm">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>{{request.user.group.get_len_adverts}}</h3>
                <p>اگهی های بنگاه</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a href="{% url 'dashboard:group-adverts' %}" class="small-box-footer">نمایش جزئیات <i
                    class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-sm">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3>{{request.user.get_active_adverts.count}}</h3>

                <p>اگهی ها فعال من</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="{% url 'dashboard:my-adverts' %}" class="small-box-footer">نمایش جزئیات <i
                    class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-sm">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>{{request.user.group.get_all_users.count}}</h3>

                <p>تعداد کاربران بنگاه</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="{% url 'dashboard:users' %}" class="small-box-footer">نمایش جزئیات <i
                    class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
</div>