<!DOCTYPE html>
<html lang="fa">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,
      user-scalable=no,maximum-scale=1.0,minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>basic</title>
        <link rel="stylesheet" href="css/bootstrap-rtl.css">
        <style>
          #wrapper{
            margin: 60px;
            background-color: darkcyan;
            height: 450px;
            display: flex;
            align-items: center;
          }
          .box{
            margin: 3px 0;
            height: 200px;
            justify-items: center;
          }
        </style>
    </head>
    <body>
      <div id="wrapper">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="box bg-info text-center text-white">
              box1
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="box bg-info text-center text-white">
              box2
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="box bg-info text-center text-white">
              box3
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="box bg-info text-center text-white">
              box4
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="js/popper.min.js" crossorigin="anonymous"></script>
    <script src="js/bootstrap.js" crossorigin="anonymous"></script>
    </body>
</html>