{% load static %}
<script src="{% static 'arti/js/jquery.min.js' %}"></script>
<script src="{% static 'arti/js/jquery-migrate.min.js' %}"></script>
<script src="{% static 'arti/js/bootstrap.min.js' %}"></script>
<script src="{% static 'arti/js/modernizr-2.7.1.min.js' %}"></script>
<script src="{% static 'arti/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'arti/js/off-cavnass.js' %}"></script>
<script src="{% static 'arti/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'arti/js/script.js' %}"></script>
<script src="{% static 'arti/js/core.min.js' %}"></script>
<script src="{% static 'arti/js/widget.min.js' %}"></script>
<script src="{% static 'arti/js/mouse.min.js' %}"></script>
<script src="{% static 'arti/js/slider.min.js' %}"></script>
<script src="{% static 'arti/js/jquery.ui.touch-punch.js' %}"></script>
<script src="{% static 'arti/js/price-slider.js' %}"></script>