<div class="section section-bg-12 section-overlay-4 section-fixed pt-8 pb-8">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrap-page-title">
                    <h1 class="page-title">{{advert.title}}</h1>
                    <div class="page-breadcrumb text-center">
                        <span>
                            <a title="بازگشت به خانه" href="/" class="home"><span>خانه</span></a>
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>